:javascript
  $(document).ready(function() {
    Compare.initialize();
  });

.comparison
  .left
    %div(style="background-image: url('#{asset_path @left.image}')")
  .divider
  .right
    %div(style="background-image: url('#{asset_path @right.image}')")
