// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game
  padding: 10px
  border: 1px solid #333

.comparison
  width: 1920px
  height: 1080px
  cursor: ew-resize

  .left, .right
    float: left
    position: relative
    overflow: hidden
    width: ((1920px/2) - 1px) // width is hardcoded for now
    height: 1080px // height is hardcoded for now

    div
      width: 1920px
      height: 1080px
      position: absolute

  .right div
    right: 0
    
  .swap-button
    $width: 40px
    position: relative // Without this, z-index won't work
    float: left
    z-index: 1000
    width: $width
    height: $width
    background-color: red
    margin-bottom: -$width
    margin-left: -($width/2)
    margin-right: -($width/2)
    cursor: pointer

  .divider
    float: left
    width: 2px
    height: 1080px
    background-color: #000
